.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn

.env
.env.*
*.pem
keypair.json
wallet-seed.json
wallet.json
*-keypair.json
id.json
*-account.json

.idea/
.vscode/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
